/*tipo de letra del articulo*/

#tipoLetraArticulo {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 13pt;
	line-height: 1.5em;
}
aside section h2 {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: rgb(240, 137, 137);
}

h1 {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	background-color: rgb(140, 141, 230);
}

h2 {
	margin-right: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: rgb(240, 137, 137);
}

h3 {
	margin-right: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	font-family: "Courier New", Courier, monospace;
	background-color: rgb(168, 132, 132);
}


ul li a:hover {
	color: rgb(54, 180, 49);
	font-weight: bold;
	text-decoration: underline;
}

aside ul li a:hover {
	color: rgb(219, 101, 101);
	font-weight: bold;
}

ul li a:active {
	color: rgb(224, 217, 114);
	font-weight: bold;
}

aside ul li a:active {
	color: rgb(28, 83, 67);
	font-weight: bold;
}

ul li a:visited {
	color: rgb(84, 86, 236);
	font-weight: bold;
}

aside ul li a:visited {
	color: rgb(231, 81, 71);
	font-weight: bold;
}

/*tipo de letra del articulo*/

#tipoLetraArticulo {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 13pt;
	line-height: 1.5em;
}




nav ul li {
	border-radius: 10px;
	padding: 5px 0px 5px 0px;
	background-color: rgb(241, 224, 127)
}

